/.vscode
/4YearLags.png
/AUDUSD_STEER.png
/EURUSD_STEER.png
/flagged
/misc
/my_model
/oli1728
/SPXDIVAN_vs_SP500.png
/commodity_scraper
/STEER.html
/USDTHB_STEER.png
/USDZAR_STEER.png
/__pycache__
/STEER 
/xlsx_files
/ag stuff

